/*=====================*/
/* BROWSER RESET       */
/*=====================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=====================*/
/* FUNCTIONS           */
/*=====================*/
/* Strip Unit */
/*=====================*/
/* VARIABLES           */
/*=====================*/
/* Blacks*/
/* Whites */
/* Grays */
/* Accent Colors */
/* Measurements */
/* 2 px */
/* 118 px */
/* 20 px */
/* 60 px */
/* padding (top + bottom) + nav height */
/* Resolutions */
/* 320 */
/* 768 */
/* 992 */
/* 1200 */
/* 1920 (Full HD) */
/* 2048 x 1080 (2k) */
/* 3840 x 2160 (4k) */
/* Font sizes */
/* 16px */
/* (absoluteSize / breakpoint) * 100% * 1unit (to get units) */
/* (16px / 2048 * 100) */
/* Filters */
/* Effects */
/*=====================*/
/* GENERAL             */
/*=====================*/
html {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  word-break: break-word;
  /* Other */
  scroll-behavior: smooth;
  scroll-padding-top: calc(1.25rem * 2 + 3.75rem);
  /* System theme color changes */
}
@media (prefers-color-scheme: no-preference) {
  html body {
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: light) {
  html body {
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  html body {
    background: black;
    color: white;
  }
}

/*=====================*/
/* TYPOGRAPHY          */
/*=====================*/
/* Fonts */
/* Font-Families */
/* Fluid Typography */
html {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: 100%;
  /* Fallback */
  font-size: clamp(1rem, calc((1 / 100) * 100 * 1vw), 0.78125vw);
  /* Other */
}
html body {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-family: "Calibri", Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: rgba(0, 0, 0, 0.7);
  /* Other */
}
html body a {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(0, 0, 0, 0.7);
  /* Other */
}
html body a:hover {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: black;
  /* Other */
  cursor: pointer;
}
html body p {
  /* Positioning */
  /* Display and Box model */
  margin-bottom: 1rem;
  /* Typography */
  /* Other */
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  /* Positioning */
  /* Display and Box model */
  margin: 3rem 0 1.38rem;
  /* Typography */
  color: black;
  font-family: "Courier Prime", "Courier New", monospace;
  font-weight: 400;
  line-height: 1.3;
  /* Other */
}
html body h1 {
  /* Positioning */
  /* Display and Box model */
  margin-top: 0;
  /* Typography */
  font-size: clamp( calc(1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1rem), calc(4.2087269129 * 1 / 100 * 100 * 1vw), calc(1.618 * 1.618 * 1.618 * 1.618 * 1.618 * 1rem) );
  /* Other */
}
html body h2 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: clamp( calc(1.2 * 1.2 * 1.2 * 1.2 * 1rem), calc(3.1573345183 * 1 / 100 * 100 * 1vw), calc(1.618 * 1.618 * 1.618 * 1.618 * 1rem) );
  /* Other */
}
html body h3 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: clamp( calc(1.2 * 1.2 * 1.2 * 1rem), calc(2.368593037 * 1 / 100 * 100 * 1vw), calc(1.618 * 1.618 * 1.618 * 1rem) );
  /* Other */
}
html body h4 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: clamp( calc(1.2 * 1.2 * 1rem), calc(1.776889 * 1 / 100 * 100 * 1vw), calc(1.618 * 1.618 * 1rem) );
  /* Other */
}
html body h5 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: clamp( calc(1.2 * 1rem), calc(1.333 * 1 / 100 * 100 * 1vw), calc(1.618 * 1rem) );
  /* Other */
}
html body h6 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: 1rem;
  /* Other */
}
html body small, html body .text_small {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: clamp( calc(1rem / 1.2), calc(1 / 1.333 / 100 * 100 * 1vw), calc(1rem / 1.618) );
  /* Other */
}

/*=====================*/
/* STRUCTURE           */
/*=====================*/
#mobile-navigation {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  /* Display and Box model */
  background-color: black;
  display: grid;
  grid-template-areas: "close-button" "mobile-menu" "mobile-language";
  grid-template-rows: [close-button] auto [mobile-menu] 1fr [mobile-language] auto;
  gap: 1.25rem;
  height: 100vh;
  padding: 0 clamp(1.25rem, 5%, calc(7.375rem + (1.25rem / 2))) 1.25rem;
  width: 100%;
  /* Typography */
  /* Other */
}
#mobile-navigation.hidden {
  /* Positioning */
  /* Display and Box model */
  display: none;
  /* Typography */
  /* Other */
}
#mobile-navigation .link {
  /* Positioning */
  /* Display and Box model */
  border-width: 0.125rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  display: block;
  height: auto;
  /* Typography */
  color: white;
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: clamp( calc(1.2 * 1.2 * 1.2 * 1.2 * 1rem), calc(3.1573345183 * 1 / 100 * 100 * 1vw), calc(1.618 * 1.618 * 1.618 * 1.618 * 1rem) );
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /* Other */
}
#mobile-navigation .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  border-style: solid;
  /* Typography */
  color: white;
  /* Other */
  cursor: pointer;
}
#mobile-navigation .link a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  line-height: 1em;
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  width: 100%;
  /* Typography */
  color: white;
  text-decoration: none;
  /* Other */
}
#mobile-navigation #close-button {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  grid-area: close-button;
  height: calc(1.25rem * 2 + 3.75rem);
  justify-content: flex-end;
  width: 100%;
  /* Typography */
  /* Other */
}
#mobile-navigation #close-button .button {
  /* Positioning */
  /* Display and Box model */
  border-width: 0.125rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  display: block;
  /* Typography */
  /* Other */
}
#mobile-navigation #close-button .button:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  border-style: solid;
  /* Typography */
  color: white;
  /* Other */
  cursor: pointer;
}
#mobile-navigation #close-button .button span.icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1.75rem;
  /* Typography */
  color: white;
  font-size: 1.75rem;
  line-height: 0;
  /* Other */
}
#mobile-navigation #mobile-menu {
  /* Positioning */
  /* Display and Box model */
  align-items: stretch;
  display: flex;
  flex-direction: column;
  grid-area: mobile-menu;
  justify-content: center;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-menu .link {
  /* Positioning */
  /* Display and Box model */
  margin-bottom: 1.25rem;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-menu .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  /* Other */
  cursor: pointer;
}
#mobile-navigation #mobile-language {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: mobile-language;
  justify-content: center;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-language .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-language .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  /* Other */
  cursor: pointer;
}
#mobile-navigation #mobile-language .link.selected {
  /* Positioning */
  /* Display and Box model */
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-language .link.selected:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.1);
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-language .link.selected:hover a {
  /* Positioning */
  /* Display and Box model */
  cursor: default;
  /* Typography */
  /* Other */
}
#mobile-navigation #mobile-language .link.selected a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  padding: calc((1.25rem / 2) + 0.125rem) calc((1.25rem / 2) + 0.125rem) calc(0.5625rem + 0.125rem);
  width: 100%;
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  /* Other */
}

#container {
  /* Positioning */
  /* Display and Box model */
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: [first] 1fr;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  width: 100%;
  /* Typography */
  /* Other */
}
#container #header {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  /* Display and Box model */
  background: none;
  display: grid;
  grid-area: header;
  gap: 1.25rem;
  grid-template-areas: "logo navigation";
  grid-template-columns: [logo] auto [navigation] 1fr;
  grid-template-rows: [first] 1fr;
  justify-items: center;
  height: calc(1.25rem * 2 + 3.75rem);
  padding: 1.25rem clamp(1.25rem, 5%, calc(7.375rem + (1.25rem / 2)));
  width: 100%;
  /* Typography */
  /* Other */
  filter: brightness(0) invert(1);
}
#container #header.active {
  /* Positioning */
  /* Display and Box model */
  box-shadow: 0.0625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: white;
  /* Typography */
  /* Other */
  filter: initial;
}
#container #main {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  /* Typography */
  /* Other */
}
#container #footer {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: grid;
  grid-area: footer;
  grid-template-areas: "top-content" "bottom-content";
  grid-template-columns: [first] 1fr;
  grid-template-rows: [top-content] auto [bottom-content] auto;
  /* Typography */
  /* Other */
}

/*=====================*/
/* ELEMENTS            */
/*=====================*/
#header .link a {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: black;
  text-decoration: none;
  /* Other */
}
#header #logo {
  /* Positioning */
  /* Display and Box model */
  grid-area: logo;
  width: auto;
  /* Typography */
  /* Other */
}
#header #logo.link a {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  /* Typography */
  line-height: 0;
  /* Other */
}
#header #logo.link a .logomark {
  /* Positioning */
  /* Display and Box model */
  margin-right: calc(1.25rem / 2);
  width: 3.75em;
  /* Typography */
  /* Other */
}
#header #logo.link a .logotype {
  /* Positioning */
  /* Display and Box model */
  margin-top: calc(1.25rem / 4);
  /* Typography */
  font-family: Courier, "Courier Prime";
  /* Other */
}
#header #logo.link a .logotype .name {
  /* Positioning */
  /* Display and Box model */
  display: none;
  /* Typography */
  font-family: inherit;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1em;
  /* Other */
}
@media screen and (min-width: 48rem) {
  #header #logo.link a .logotype .name {
    /* Positioning */
    /* Display and Box model */
    display: block;
    /* Typography */
    /* Other */
  }
}
#header #logo.link a .logotype .tagline {
  /* Positioning */
  /* Display and Box model */
  display: none;
  margin-top: calc(1.25rem / 4);
  /* Typography */
  font-family: inherit;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1em;
  /* Other */
}
@media screen and (min-width: 48rem) {
  #header #logo.link a .logotype .tagline {
    /* Positioning */
    /* Display and Box model */
    display: block;
    /* Typography */
    /* Other */
  }
}
#header #logo img.image {
  /* Positioning */
  /* Display and Box model */
  height: 3.75rem;
  /* Typography */
  /* Other */
}
#header #navigation {
  /* Positioning */
  /* Display and Box model */
  display: flex;
  grid-area: navigation;
  width: 100%;
  /* Typography */
  /* Other */
}
#header #navigation .link {
  /* Positioning */
  /* Display and Box model */
  border-width: 0.125rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  /* Typography */
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  /* Other */
}
#header #navigation .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  border-style: solid;
  /* Typography */
  color: black;
  /* Other */
  cursor: pointer;
}
#header #navigation #menu {
  /* Positioning */
  /* Display and Box model */
  align-content: center;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, 7.375rem);
  grid-template-rows: [first] auto;
  justify-content: end;
  margin-right: 1.25rem;
  visibility: visible;
  width: 100%;
  /* Typography */
  /* Other */
}
#header #navigation #menu.hidden {
  /* Positioning */
  /* Display and Box model */
  display: none;
  /* Typography */
  /* Other */
}
#header #navigation #menu.invisible {
  /* Positioning */
  /* Display and Box model */
  visibility: hidden;
  /* Typography */
  /* Other */
}
#header #navigation #menu li.link {
  /* Positioning */
  /* Display and Box model */
  display: block;
  min-width: 7.375rem;
  /* Typography */
  /* Other */
}
#header #navigation #menu li.link a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  line-height: 1em;
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  width: 100%;
  /* Typography */
  /* Other */
}
#header #navigation #language {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: language;
  visibility: visible;
  /* Typography */
  /* Other */
}
#header #navigation #language.hidden {
  /* Positioning */
  /* Display and Box model */
  display: none;
  /* Typography */
  /* Other */
}
#header #navigation #language.invisible {
  /* Positioning */
  /* Display and Box model */
  visibility: hidden;
  /* Typography */
  /* Other */
}
#header #navigation #language li.link {
  /* Positioning */
  /* Display and Box model */
  display: block;
  border-color: rgba(0, 0, 0, 0.1);
  height: 2.25rem;
  min-width: calc(7.375rem / 2);
  /* Typography */
  /* Other */
}
#header #navigation #language li.link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  /* Typography */
  /* Other */
  cursor: pointer;
}
#header #navigation #language li.link.selected {
  /* Positioning */
  /* Display and Box model */
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 2.25rem;
  /* Typography */
  /* Other */
}
#header #navigation #language li.link.selected:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.1);
  /* Typography */
  /* Other */
}
#header #navigation #language li.link.selected:hover a {
  /* Positioning */
  /* Display and Box model */
  cursor: default;
  /* Typography */
  /* Other */
}
#header #navigation #language li.link.selected a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  padding: calc((1.25rem / 2) + 0.125rem) calc((1.25rem / 2) + 0.125rem) calc(0.5625rem + 0.125rem);
  width: 100%;
  /* Typography */
  color: rgba(0, 0, 0, 0.5);
  /* Other */
}
#header #navigation #language li.link a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  line-height: 1em;
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  width: 100%;
  /* Typography */
  /* Other */
}
#header #navigation #menu-button {
  /* Positioning */
  /* Display and Box model */
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.28125em;
  width: 100%;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 62rem) {
  #header #navigation #menu-button {
    /* Positioning */
    /* Display and Box model */
    width: auto;
    /* Typography */
    /* Other */
  }
}
#header #navigation #menu-button.hidden {
  /* Positioning */
  /* Display and Box model */
  display: none;
  /* Typography */
  /* Other */
}
#header #navigation #menu-button .button {
  /* Positioning */
  /* Display and Box model */
  border-width: 0.125rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  display: block;
  /* Typography */
  /* Other */
}
#header #navigation #menu-button .button:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  border-style: solid;
  /* Typography */
  color: black;
  /* Other */
  cursor: pointer;
}
#header #navigation #menu-button .button span.icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1.75rem;
  /* Typography */
  color: black;
  font-size: 1.75rem;
  line-height: 0;
  /* Other */
}

#main article.article {
  /* Positioning */
  /* Display and Box model */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem clamp(1.25rem, 5%, calc(7.375rem + (1.25rem / 2)));
  min-height: calc(100vh - calc(1.25rem * 2 + 3.75rem));
  /* Typography */
  /* Other */
  /*=====================*/
  /* WP FIXES            */
  /*=====================*/
  /* WP FIX1: Keeps the aspect ratio to the image when resizing */
  /* https://core.trac.wordpress.org/ticket/50909#comment:14 */
  /* WP FIX2: Colors */
  /* WP FIX3: Bottom margins */
  /* ARTICLE TYPES */
}
#main article.article .wp-block-image img {
  max-width: 100%;
  height: auto;
}
#main article.article .wp-block-media-text__media img,
#main article.article .wp-block-media-text__media video {
  max-width: unset;
  width: 100%;
  vertical-align: middle;
  height: auto;
}
#main article.article .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.1);
}
#main article.article .wp-block-table.is-style-stripes {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main article.article .wp-block-separator {
  color: rgba(0, 0, 0, 0.1);
}
#main article.article .wp-block-calendar table th {
  background-color: rgba(0, 0, 0, 0.1);
}
#main article.article .wp-block-file .wp-block-file__button,
#main article.article .wp-block-button__link {
  color: rgba(255, 255, 255, 0.7);
}
#main article.article ul,
#main article.article .wp-block-pullquote,
#main article.article .wp-block-verse,
#main article.article .wp-block-code,
#main article.article .wp-block-table,
#main article.article .wp-block-media-text,
#main article.article .wp-block-preformatted,
#main article.article .wp-block-audio,
#main article.article .wp-block-file,
#main article.article .wp-block-embed,
#main article.article .wp-block-cover,
#main article.article .wp-block-buttons,
#main article.article .wp-block-columns,
#main article.article .more-581,
#main article.article .wp-block-separator,
#main article.article .wp-block-latest-comments,
#main article.article .wp-block-search {
  margin-bottom: 1rem;
}
#main article.article section.header {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12.5rem;
  justify-content: center;
  /* Typography */
  text-align: center;
  /* Other */
}
#main article.article section.header .heading {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 0.125rem;
  height: calc(1.25rem * 2 + 3.75rem);
  min-width: 100%;
  padding: 1.25rem;
  width: auto;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.header .heading {
    /* Positioning */
    /* Display and Box model */
    min-width: calc(7.375rem * 4 + (1.25rem * 3));
    /* Typography */
    /* Other */
  }
}
#main article.article section.header .heading h2 {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  line-height: calc(calc(1.25rem * 2 + 3.75rem) - (1.25rem * 2));
  text-transform: uppercase;
  /* Other */
}
#main article.article section.content {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  /* Typography */
  /* Other */
}
#main article.article section.content .body {
  /* CONTENT TYPES */
}
#main article.article section.content .body.services {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  width: 100%;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.services {
    /* Positioning */
    /* Display and Box model */
    grid-template-columns: repeat(auto-fill, minmax(calc(7.375rem * 3 + calc(1.25rem * 2)), 1fr));
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.services figure.service {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  padding: 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.services figure.service figcaption.caption .title {
  /* Positioning */
  /* Display and Box model */
  width: auto;
  /* Typography */
  text-align: center;
  /* Other */
}
#main article.article section.content .body.services figure.service figcaption.caption .title h6 {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  text-transform: none;
  /* Other */
}
#main article.article section.content .body.services figure.service figcaption.caption .description {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  color: black;
  text-align: center;
  /* Other */
}
#main article.article section.content .body.services figure.service .icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: calc(1.25rem / 2);
  margin-bottom: 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.services figure.service .icon img.image {
  /* Positioning */
  /* Display and Box model */
  opacity: 0.5;
  width: 2rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.bios {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  width: 100%;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.bios {
    /* Positioning */
    /* Display and Box model */
    grid-template-columns: repeat(auto-fit, minmax(calc(7.375rem * 4 + calc(1.25rem * 3)), 1fr));
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.bios figure.bio {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  gap: 1.25rem;
  grid-template-areas: "picture" "caption" "text";
  grid-template-columns: [first] 1fr;
  grid-template-rows: auto;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.bios figure.bio {
    /* Positioning */
    /* Display and Box model */
    grid-template-areas: "picture caption" "picture text";
    grid-template-columns: [picture] auto [caption] 1fr;
    grid-template-rows: [caption] auto [text] 1fr;
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.bios figure.bio .picture {
  /* Positioning */
  /* Display and Box model */
  align-self: start;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: content-box;
  grid-area: picture;
  height: auto;
  line-height: 0;
  width: 100%;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.bios figure.bio .picture {
    /* Positioning */
    /* Display and Box model */
    max-width: calc(7.375rem * 2 + 1.25rem);
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.bios figure.bio .picture img.image {
  /* Positioning */
  /* Display and Box model */
  object-fit: contain;
  height: auto;
  width: 100%;
  /* Typography */
  /* Other */
  filter: grayscale(100%);
}
#main article.article section.content .body.bios figure.bio figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  grid-area: caption;
  height: auto;
  min-height: calc(2.369rem * 1.3)calc(1.777rem * 1.3);
  /* Typography */
  /* Other */
}
#main article.article section.content .body.bios figure.bio figcaption.caption .title h3, #main article.article section.content .body.bios figure.bio figcaption.caption .title h4 {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.bios figure.bio .text {
  /* Positioning */
  /* Display and Box model */
  grid-area: text;
  height: auto;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.bios figure.bio .text {
    /* Positioning */
    /* Display and Box model */
    max-width: calc(7.375rem * 5 + calc(1.25rem * 4));
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.projects {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  width: auto;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.projects {
    /* Positioning */
    /* Display and Box model */
    grid-template-columns: repeat(auto-fill, minmax(calc(7.375rem * 3 + calc(1.25rem * 2)), 1fr));
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.projects figure.project {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: content-box;
  display: grid;
  grid-template-areas: "picture" "caption" "text" "button";
  grid-template-columns: [first] 1fr;
  grid-template-rows: [picture] 18.75rem [caption] auto [text] 1fr [button] auto;
  margin: 0;
  /* Typography */
  /* Other */
  background-color: rgba(255, 255, 255, 0.5);
}
#main article.article section.content .body.projects figure.project .picture {
  /* Positioning */
  /* Display and Box model */
  grid-area: picture;
  line-height: 0;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project .picture img.image {
  /* Positioning */
  /* Display and Box model */
  height: 18.75rem;
  object-fit: cover;
  width: 100%;
  /* Typography */
  /* Other */
  filter: grayscale(100%);
}
#main article.article section.content .body.projects figure.project figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.125rem 0;
  grid-area: caption;
  min-height: calc(1.25rem * 2 + calc(2.369rem * 1.3) + calc(1.777rem * 1.3) + 0.125rem);
  /* padding (top + bottom) + h4 line height + h3 line height + border (bottom) */
  padding: 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project figcaption.caption .title h3, #main article.article section.content .body.projects figure.project figcaption.caption .title h4 {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project .text {
  /* Positioning */
  /* Display and Box model */
  grid-area: text;
  height: 100%;
  padding: 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project .text p:last-child {
  /* Positioning */
  /* Display and Box model */
  margin-bottom: 0;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project .button {
  /* Positioning */
  /* Display and Box model */
  grid-area: button;
  padding: 0 1.25rem 1.25rem 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.projects figure.project .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.125rem;
  display: block;
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  width: 100%;
  /* Typography */
  color: black;
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /* Other */
}
#main article.article section.content .body.projects figure.project .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  border-style: solid;
  /* Typography */
  color: black;
  /* Other */
  cursor: pointer;
}
#main article.article section.content .body.contacts {
  /* Positioning */
  /* Display and Box model */
  justify-content: center;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  width: 100%;
  /* Typography */
  font-style: normal;
  /* Other */
}
@media screen and (min-width: 48rem) {
  #main article.article section.content .body.contacts {
    /* Positioning */
    /* Display and Box model */
    grid-template-columns: repeat(auto-fit, minmax(auto, calc(7.375rem * 3 + calc(1.25rem * 2))));
    /* Typography */
    /* Other */
  }
}
#main article.article section.content .body.contacts figure.contact {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.125rem;
  display: grid;
  grid-template-areas: "icon" "caption" "button";
  grid-template-columns: [first] auto;
  grid-template-rows: [icon] auto [caption] auto [button] 1fr;
  padding: 1.25rem;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.contacts figure.contact .icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-area: icon;
  justify-content: center;
  justify-self: center;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  width: 2.625rem;
  /* Typography */
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.625rem;
  line-height: 0;
  /* Other */
}
#main article.article section.content .body.contacts figure.contact .icon i {
  /* Positioning */
  /* Display and Box model */
  width: auto;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.contacts figure.contact figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  grid-area: caption;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.contacts figure.contact figcaption.caption .title h5 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  margin-top: 0;
  text-align: center;
  /* Other */
}
#main article.article section.content .body.contacts figure.contact .button {
  /* Positioning */
  /* Display and Box model */
  grid-area: button;
  /* Typography */
  /* Other */
}
#main article.article section.content .body.contacts figure.contact .button .link {
  /* Positioning */
  /* Display and Box model */
  border: 0.125rem solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: calc(1.25rem / 2) calc(1.25rem / 2) 0.5625rem;
  width: 100%;
  /* Typography */
  color: black;
  text-decoration: none;
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /* Other */
}
#main article.article section.content .body.contacts figure.contact .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  border-style: solid;
  /* Typography */
  color: black;
  /* Other */
  cursor: pointer;
}
#main article.article section.footer a.link {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(1.25rem * 2 + 3.75rem);
  justify-content: center;
  /* Typography */
  /* Other */
}
#main article.article section.footer a.link:hover .icon .image {
  /* Positioning */
  /* Display and Box model */
  opacity: 1;
  /* Typography */
  /* Other */
}
#main article.article section.footer a.link .icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3.875rem;
  height: 3.875rem;
  /* Typography */
  /* Other */
}
#main article.article section.footer a.link .icon img.image {
  /* Positioning */
  /* Display and Box model */
  width: 2rem;
  opacity: 0.3;
  /* Typography */
  /* Other */
}
#main article.article.black {
  /* Positioning */
  /* Display and Box model */
  background-color: #0A0A0A;
  /* Typography */
  /* Other */
  /* WP FIX2: Colors */
}
#main article.article.black a {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.7);
  /* Other */
}
#main article.article.black a:hover {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
  cursor: pointer;
}
#main article.article.black div, #main article.article.black span, #main article.article.black applet, #main article.article.black object, #main article.article.black iframe,
#main article.article.black p, #main article.article.black blockquote, #main article.article.black pre, #main article.article.black abbr, #main article.article.black acronym,
#main article.article.black address, #main article.article.black big, #main article.article.black cite, #main article.article.black code, #main article.article.black del, #main article.article.black dfn,
#main article.article.black em, #main article.article.black img, #main article.article.black ins, #main article.article.black kbd, #main article.article.black q, #main article.article.black s, #main article.article.black samp,
#main article.article.black small, #main article.article.black strike, #main article.article.black strong, #main article.article.black sub, #main article.article.black sup, #main article.article.black tt, #main article.article.black var,
#main article.article.black b, #main article.article.black u, #main article.article.black i, #main article.article.black center, #main article.article.black dl, #main article.article.black dt, #main article.article.black dd, #main article.article.black ol, #main article.article.black ul, #main article.article.black li,
#main article.article.black fieldset, #main article.article.black form, #main article.article.black label, #main article.article.black legend,
#main article.article.black table, #main article.article.black caption, #main article.article.black tbody, #main article.article.black tfoot, #main article.article.black thead, #main article.article.black tr, #main article.article.black th, #main article.article.black td,
#main article.article.black article, #main article.article.black aside, #main article.article.black canvas, #main article.article.black details, #main article.article.black embed,
#main article.article.black figure, #main article.article.black figcaption, #main article.article.black footer, #main article.article.black header, #main article.article.black hgroup,
#main article.article.black menu, #main article.article.black nav, #main article.article.black output, #main article.article.black ruby, #main article.article.black section, #main article.article.black summary,
#main article.article.black time, #main article.article.black mark, #main article.article.black audio, #main article.article.black video {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.7);
  /* Other */
}
#main article.article.black h1, #main article.article.black h2, #main article.article.black h3, #main article.article.black h4, #main article.article.black h5, #main article.article.black h6 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.black .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.black .wp-block-table.is-style-stripes {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#main article.article.black .wp-block-separator {
  color: rgba(255, 255, 255, 0.1);
}
#main article.article.black .wp-block-calendar table th {
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.black section.header .heading {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.4);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.services figure.service {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.services figure.service .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.services figure.service .icon img.image {
  /* Positioning */
  /* Display and Box model */
  opacity: 0.5;
  filter: brightness(0) invert(1);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.bios figure.bio .picture {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.projects figure.project {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.black section.content .body.projects figure.project figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.projects figure.project .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.black section.content .body.projects figure.project .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.black section.content .body.contacts figure.contact {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.black section.content .body.contacts figure.contact .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  /* Other */
}
#main article.article.black section.content .body.contacts figure.contact .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.black section.content .body.contacts figure.contact .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.black section.footer .link .icon .image {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  /* Other */
  filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(95deg) brightness(107%) contrast(100%);
}
#main article.article.dark-gray {
  /* Positioning */
  /* Display and Box model */
  background-color: #333333;
  /* Typography */
  /* Other */
  /* WP FIX2: Colors */
}
#main article.article.dark-gray a {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.7);
  /* Other */
}
#main article.article.dark-gray a:hover {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
  cursor: pointer;
}
#main article.article.dark-gray div, #main article.article.dark-gray span, #main article.article.dark-gray applet, #main article.article.dark-gray object, #main article.article.dark-gray iframe,
#main article.article.dark-gray p, #main article.article.dark-gray blockquote, #main article.article.dark-gray pre, #main article.article.dark-gray abbr, #main article.article.dark-gray acronym,
#main article.article.dark-gray address, #main article.article.dark-gray big, #main article.article.dark-gray cite, #main article.article.dark-gray code, #main article.article.dark-gray del, #main article.article.dark-gray dfn,
#main article.article.dark-gray em, #main article.article.dark-gray img, #main article.article.dark-gray ins, #main article.article.dark-gray kbd, #main article.article.dark-gray q, #main article.article.dark-gray s, #main article.article.dark-gray samp,
#main article.article.dark-gray small, #main article.article.dark-gray strike, #main article.article.dark-gray strong, #main article.article.dark-gray sub, #main article.article.dark-gray sup, #main article.article.dark-gray tt, #main article.article.dark-gray var,
#main article.article.dark-gray b, #main article.article.dark-gray u, #main article.article.dark-gray i, #main article.article.dark-gray center, #main article.article.dark-gray dl, #main article.article.dark-gray dt, #main article.article.dark-gray dd, #main article.article.dark-gray ol, #main article.article.dark-gray ul, #main article.article.dark-gray li,
#main article.article.dark-gray fieldset, #main article.article.dark-gray form, #main article.article.dark-gray label, #main article.article.dark-gray legend,
#main article.article.dark-gray table, #main article.article.dark-gray caption, #main article.article.dark-gray tbody, #main article.article.dark-gray tfoot, #main article.article.dark-gray thead, #main article.article.dark-gray tr, #main article.article.dark-gray th, #main article.article.dark-gray td,
#main article.article.dark-gray article, #main article.article.dark-gray aside, #main article.article.dark-gray canvas, #main article.article.dark-gray details, #main article.article.dark-gray embed,
#main article.article.dark-gray figure, #main article.article.dark-gray figcaption, #main article.article.dark-gray footer, #main article.article.dark-gray header, #main article.article.dark-gray hgroup,
#main article.article.dark-gray menu, #main article.article.dark-gray nav, #main article.article.dark-gray output, #main article.article.dark-gray ruby, #main article.article.dark-gray section, #main article.article.dark-gray summary,
#main article.article.dark-gray time, #main article.article.dark-gray mark, #main article.article.dark-gray audio, #main article.article.dark-gray video {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.7);
  /* Other */
}
#main article.article.dark-gray h1, #main article.article.dark-gray h2, #main article.article.dark-gray h3, #main article.article.dark-gray h4, #main article.article.dark-gray h5, #main article.article.dark-gray h6 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.dark-gray .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.dark-gray .wp-block-table.is-style-stripes {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#main article.article.dark-gray .wp-block-separator {
  color: rgba(255, 255, 255, 0.1);
}
#main article.article.dark-gray .wp-block-calendar table th {
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.dark-gray section.header .heading {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.5);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.services figure.service {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.services figure.service .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.services figure.service .icon img.image {
  /* Positioning */
  /* Display and Box model */
  opacity: 0.5;
  filter: brightness(0) invert(1);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.bios figure.bio .picture {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.projects figure.project {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
  background-color: rgba(255, 255, 255, 0.1);
}
#main article.article.dark-gray section.content .body.projects figure.project figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.projects figure.project .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.dark-gray section.content .body.projects figure.project .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.dark-gray section.content .body.contacts figure.contact {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.dark-gray section.content .body.contacts figure.contact .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  /* Other */
}
#main article.article.dark-gray section.content .body.contacts figure.contact .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.dark-gray section.content .body.contacts figure.contact .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  color: white;
  /* Other */
}
#main article.article.dark-gray section.footer .link .icon .image {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  /* Other */
  filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(95deg) brightness(107%) contrast(100%);
}
#main article.article.light-gray {
  /* Positioning */
  /* Display and Box model */
  background-color: #E4E4E4;
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.header .heading {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.5);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.services figure.service {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.services figure.service .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.bios figure.bio .picture {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.projects figure.project {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
  background-color: rgba(0, 0, 0, 0.1);
}
#main article.article.light-gray section.content .body.projects figure.project figcaption.caption {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.projects figure.project .button .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  color: black;
  /* Other */
}
#main article.article.light-gray section.content .body.projects figure.project .button .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  /* Typography */
  color: black;
  /* Other */
}
#main article.article.light-gray section.content .body.contacts figure.contact {
  /* Positioning */
  /* Display and Box model */
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.content .body.contacts figure.contact .icon {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  color: rgba(0, 0, 0, 0.5);
  /* Other */
}
#main article.article.light-gray section.content .body.contacts figure.contact .text .link {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(0, 0, 0, 0.2);
  /* Typography */
  color: black;
  /* Other */
}
#main article.article.light-gray section.content .body.contacts figure.contact .text .link p {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: black;
  /* Other */
}
#main article.article.light-gray section.content .body.contacts figure.contact .text .link:hover {
  /* Positioning */
  /* Display and Box model */
  border-color: black;
  /* Typography */
  color: black;
  /* Other */
}
#main article.article.light-gray section.footer a.link .icon img.image {
  /* Positioning */
  /* Display and Box model */
  opacity: 0.3;
  /* Typography */
  /* Other */
}
#main article.article.light-gray section.footer a.link:hover .icon .image {
  /* Positioning */
  /* Display and Box model */
  opacity: 1;
  /* Typography */
  /* Other */
}
#main #hero {
  /* Positioning */
  z-index: -1;
  /* Display and Box model */
  min-height: calc(100vh * 0.65);
  padding: 0;
  position: relative;
  /* Typography */
  /* Other */
}
#main #hero section.header {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  /* Typography */
  text-align: center;
  /* Other */
}
#main #hero section.header .heading {
  /* Positioning */
  /* Display and Box model */
  border: none;
  height: auto;
  margin: calc(((calc(1.25rem * 2 + 3.75rem) * 0.5) + calc(1.25rem * 2 + 3.75rem) - 1.25rem)) 0;
  max-width: calc(7.375rem * 8 + calc(1.25rem * 7));
  padding: 1.25rem clamp(1.25rem, 5%, calc(7.375rem + (1.25rem / 2)));
  /* Typography */
  /* Other */
}
#main #hero section.header .heading h1 {
  /* Positioning */
  /* Display and Box model */
  margin: 0;
  /* Typography */
  text-transform: uppercase;
  /* Other */
}
#main #hero section.content {
  /* Positioning */
  position: absolute;
  /* Display and Box model */
  height: 100%;
  width: 100%;
  /* Typography */
  /* Other */
}
#main #hero section.content .body {
  /* Positioning */
  /* Display and Box model */
  height: 100%;
  width: 100%;
  /* Typography */
  /* Other */
}
#main #hero section.content .body .image {
  /* Positioning */
  /* Display and Box model */
  box-sizing: content-box;
  height: 100%;
  overflow: hidden;
  /* Typography */
  /* Other */
}
#main #hero section.content .body .image img {
  /* Positioning */
  position: fixed;
  z-index: -1;
  /* Display and Box model */
  height: 100%;
  min-height: calc(100vh * 0.65);
  object-fit: cover;
  width: 100%;
  /* Typography */
  /* Other */
  filter: grayscale(100%);
}
#main #intro {
  /* Positioning */
  /* Display and Box model */
  min-height: calc(100vh * 0.35);
  /* Typography */
  /* Other */
}
#main #intro section.content .body {
  /* Positioning */
  /* Display and Box model */
  max-width: calc(7.375rem * 6 + calc(1.25rem * 5));
  /* Typography */
  text-align: center;
  /* Other */
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
}
#footer p {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  /* Other */
}
#footer a {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  /* Other */
}
#footer a:hover {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: white;
  /* Other */
  cursor: pointer;
}
#footer section.content {
  /* Positioning */
  /* Display and Box model */
  padding: 1.25rem clamp(1.25rem, 5%, calc(7.375rem + (1.25rem / 2)));
  /* Typography */
  /* Other */
}
#footer section.content.top {
  background-color: #333333;
}
#footer section.content.top .header .heading {
  /* Positioning */
  /* Display and Box model */
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.2);
  /* Typography */
  /* Other */
}
#footer section.content.top .body {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  width: 100%;
  /* Typography */
  /* Other */
}
@media screen and (min-width: 48rem) {
  #footer section.content.top .body {
    /* Positioning */
    /* Display and Box model */
    grid-template-columns: repeat(auto-fit, minmax(calc(7.375rem * 2 + calc(1.25rem * 1)), 1fr));
    /* Typography */
    /* Other */
  }
}
#footer section.content.top .body ul.list {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  /* Other */
}
#footer section.content.top .body ul.table li {
  /* Positioning */
  /* Display and Box model */
  display: flex;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.table li:last-child div {
  /* Positioning */
  /* Display and Box model */
  border-bottom: 0.125rem;
  border-style: solid;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.table li div {
  /* Positioning */
  /* Display and Box model */
  border-style: solid;
  border-width: 0.125rem 0 0 0.125rem;
  /* Typography */
  color: rgba(255, 255, 255, 0.5);
  /* Other */
}
#footer section.content.top .body ul.table li div:last-child {
  /* Positioning */
  /* Display and Box model */
  border-right: 0.125rem;
  border-style: solid;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.table li div.label {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  flex-basis: calc(7.375rem + (1.25rem / 2 ));
  padding: calc(1rem * 1.75 / 2 - 0.125rem);
  /* Typography */
  font-weight: 700;
  /* Other */
}
#footer section.content.top .body ul.table li div.info {
  /* Positioning */
  /* Display and Box model */
  border-color: rgba(255, 255, 255, 0.2);
  flex-basis: calc(7.375rem + (1.25rem / 2 ));
  padding: calc(1rem * 1.75 / 2 - 0.125rem);
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.images {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, 7.375rem);
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.images li {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  line-height: 0;
  /* Other */
}
#footer section.content.top .body ul.images li a.link {
  /* Positioning */
  /* Display and Box model */
  display: inline-block;
  /* Typography */
  line-height: 0;
  /* Other */
}
#footer section.content.top .body ul.images li a.link:hover .picture {
  /* Positioning */
  /* Display and Box model */
  border-color: white;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.images li a.link .picture {
  /* Positioning */
  /* Display and Box model */
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  max-width: calc(7.375rem);
  padding: 1.25rem;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.images li a.link .picture .image {
  /* Positioning */
  /* Display and Box model */
  height: auto;
  width: 100%;
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.links li a.link {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.icons {
  /* Positioning */
  /* Display and Box model */
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, calc(7.375rem / 4));
  /* Typography */
  /* Other */
}
#footer section.content.top .body ul.icons li {
  /* Positioning */
  /* Display and Box model */
  display: flex;
  /* Typography */
  height: 1.75rem;
  /* Other */
}
#footer section.content.top .body ul.icons li a.link {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  text-decoration: none;
  /* Other */
}
#footer section.content.top .body ul.icons li a.link span.icon {
  /* Positioning */
  /* Display and Box model */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1.75rem;
  /* Typography */
  font-size: 1.75rem;
  line-height: 0;
  /* Other */
}
#footer section.content.bottom {
  /* Positioning */
  /* Display and Box model */
  background-color: #0A0A0A;
  /* Typography */
  /* Other */
}
#footer section.content.bottom .text a {
  /* Positioning */
  /* Display and Box model */
  display: block;
  margin-bottom: 0;
  /* Typography */
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8125rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  /* Other */
}

/*# sourceMappingURL=index.css.map */
